<div class="adminMovies">
  <div class="container p-5">
    <h1>Admin Movie</h1>
    <hr />
    <div class="alert alert-danger" *ngIf="this.mode == 1" role="alert">
      <strong>Error</strong>
    </div>
    <div class="alert alert-success" *ngIf="this.mode == 3" role="alert">
      <strong>Success !</strong>
    </div>
    <form [formGroup]="movieForm" (ngSubmit)="onAddMovie()">
      <div class="form-group">
        <label for="title">Titre</label>
        <input
          type="text"
          class="form-control"
          id="title"
          aria-describedby="title"
          placeholder="Titre"
          formControlName="title"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea
          type="text"
          id="description"
          class="md-textarea form-control"
          formControlName="description"
        ></textarea>
      </div>
      <div class="form-group">
        <h6>catégories</h6>
        <hr />
        <div
          class="form-check form-check-inline"
          *ngFor="let item of categories"
        >
          <input
            class="form-check-input"
            type="radio"
            name="category"
            id="inlineRadio1"
            value="{{ item.id }}"
            formControlName="category"
          />
          <label class="form-check-label" for="inlineRadio1">{{
            item.name
          }}</label>
        </div>
      </div>
      <div class="form-group">
        <label for="filmDirector:">Réalisateur </label>
        <input
          type="text"
          class="form-control"
          id="filmDirector"
          placeholder="Réalisateur "
          formControlName="filmDirector"
        />
      </div>
      <div class="form-group">
        <label for="duration:">Durée </label>
        <input
          type="number"
          class="form-control"
          id="duration"
          placeholder="Durée "
          formControlName="duration"
        />
      </div>
      <div class="form-group">
        <label for="releaseDate:">Date de sortie</label>
        <input
          type="date"
          class="form-control"
          id="releaseDate"
          placeholder="Date de sortie"
          formControlName="releaseDate"
        />
      </div>
      <div class="form-group">
        <label for="trailer">Lien Bande-annonce</label>
        <input
          type="text"
          class="form-control"
          id="trailer"
          placeholder="Lien Bande-annonce"
          formControlName="trailer"
        />
      </div>
      <div class="form-group">
        <label for="picture">images</label>
        <input
          type="file"
          class="form-control"
          id="picture"
          formControlName="picture"
          (change)="onFileChange($event)"
        />
      </div>
      <div class="form-group">
        <label for="banner">bannière</label>
        <input
          type="file"
          class="form-control"
          id="banner"
          formControlName="banner"
          (change)="onFileChangeBanner($event)"
        />
      </div>
      <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
  </div>
</div>
