<div class="adminTickets">
  <div class="container p-5">
    <div class="list-group" *ngIf="this.tickets">
      <a
        *ngFor="let item of this.tickets"
        class="list-group-item list-group-item-action flex-column align-items-start"
      >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">Client : <strong>{{ item.clientName }}</strong></h5>
          <small>Prix : <strong>{{ item.price }}</strong></small>
        </div>
        <p class="mb-1">Numéro du Siege : <strong>{{ item.seat.number }}</strong></p>
        <small>Donec id elit non mi porta.</small>
      </a>
    </div>
  </div>
</div>
