<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/']">CinéSnouss</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['']">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/movies']">Movies</a>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown" *ngIf="this.loginService.isAdmin()">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/admin/movies']">Movies</a>
          <a class="dropdown-item" [routerLink]="['/admin/tickets']">Tickets</a>
        </div>
      </li>
      <!-- Dropdown -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button
        *ngIf="this.loginService.isAuth() == false"
        [routerLink]="['/login']"
        class="btn btn-success my-2 my-sm-0"
        type="submit"
      >
        <i class="fas fa-sign-in-alt"></i> Login
      </button>
      <button
        *ngIf="this.loginService.isAuth() == true"
        (click)="logout()"
        class="btn btn-danger my-2 my-sm-0"
        type="submit"
      >
        <i class="fas fa-sign-in-alt"></i> logout
      </button>
    </form>
  </div>
</nav>
