.navbar {
  background-color: #3680a1 !important;
  color: white !important;
  a {
    color: white;
  }
  .dropdown-menu{
    background-color: #3680a1;
    .dropdown-item:hover{
      background-color: #064460;
    }
  }

}
