<div class="container mt-4">
  <h2>Les salles</h2>
  <hr />
  <div class="row" *ngIf="rooms">
    <div class="col-lg-6 mb-4" *ngFor="let item of rooms">

      <div class="card">
        <img class="card-img-top " src="{{hostPicture+item.projections[0].movie.id}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ item.projections[0].movie.title }}</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <ul class="list-group">
            <li class="list-group-item">Séance</li>
            <li *ngFor="let p of item.projections" class="list-group-item">
              {{p.sessionMovie.startTime}} => : {{p.price}}$
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>


