.filmScreening {
  background-color: #064460;
}

.container{
  background-color: #f1f5f6;
  border: solid 1px #ff4f2e;
}

.imgHeader {
  width: 100%;
  height: 30vh;
  border-bottom: 1px solid #ff4f2e;
}

.imgHeader img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
