<div class="filmScreening">
  <div class="imgHeader">
    <img
      src="{{ hostBanner + room.projections[0].movie.id }}"
      class="img-fluid"
      alt="Responsive image"
    />
  </div>
  <div class="container p-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="imgLeft">
          <a href="https://www.youtube.com/watch?v=fP2w_UAK6B4"
            ><img
              src="{{ hostPicture + room.projections[0].movie.id }}"
              alt="cover"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-8">
        <h1 class="text-center">{{ room.projections[0].movie.title }}</h1>
        <p class="mt-5">
          Le Lorem Ipsum est simplement du faux texte employé dans la
          composition et la mise en page avant impression. Le Lorem Ipsum est le
          faux texte standard de l'imprimerie depuis les années 1500, quand un
          imprimeur anonyme assembla ensemble des morceaux de texte pour
          réaliser un livre spécimen de polices de texte. Il n'a pas fait que
          survivre cinq siècles, mais s'est aussi adapté à la bureautique
          informatique, sans que son contenu n'en soit modifié. Il a été
          popularisé dans les années 1960 grâce à la vente de feuilles Letraset
          contenant des passages du Lorem Ipsum, et, plus récemment, par son
          inclusion dans des applications de mise en page de texte, comme Aldus
          PageMaker.
        </p>
      </div>
    </div>
    <hr />
  </div>
</div>
