<div class="filmScreening">
  <div class="imgHeader">
    <img
      src="{{ hostBanner + room.projections[0].movie.id }}"
      class="img-fluid"
      alt="Responsive image"
    />
  </div>
  <div class="container p-5">
    <div class="row mb-5">
      <div class="col-lg-4">
        <div class="imgLeft">
          <a href="{{ room.projections[0].movie.trailer }}">
            <i class="far fa-4x fa-play-circle"></i>
            <img
              src="{{ hostPicture + room.projections[0].movie.id }}"
              alt="cover"
            />
          </a>
        </div>
      </div>
      <div class="col-lg-8">
        <h1 class="text-center">{{ room.projections[0].movie.title }}</h1>
        <hr class="myTitle" />
        <p>
          {{ room.projections[0].movie.description }}
        </p>
        <p>Réalisateur : {{ room.projections[0].movie.filmDirector }}</p>
        <p>Date de sortie : {{ room.projections[0].movie.releaseDate }}</p>
        <p>Durée: {{ room.projections[0].movie.duration }}</p>
        <p>Catégorie : {{ room.projections[0].movie.category.name }}</p>
      </div>
    </div>
    <hr />
    <!-- seance -->
    <h3>Les Seances</h3>
    <hr class="mb-4" />
    <!-- Nav -->
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a
          (click)="onGetAllTickets(item.id)"
          *ngFor="let item of room.projections"
          class="nav-item nav-link"
          id="{{ item.sessionMovie.startTime }}"
          data-toggle="tab"
          href="#s{{ item.sessionMovie.id }}"
          role="tab"
          aria-controls="nav-contact"
          aria-selected="false"
          >{{ item.sessionMovie.startTime }}</a
        >
      </div>
    </nav>
    <!-- Tab Nav -->
    <div class="tab-content" id="nav-tabContent">
      <div
        *ngFor="let item of room.projections"
        class="tab-pane fade"
        id="s{{ item.sessionMovie.id }}"
        role="tabpanel"
        aria-labelledby="nav-contact-tab"
      >
        <h4 class="text-center my-4">
          {{ item.price }}€ <i class="fas fa-money-bill-wave"></i>
        </h4>
        <!-- Seats -->
        <div class="row p-4">
          <div class="col-lg-6">
            <span *ngFor="let ticket of tickets"
              ><button
                class="{{ getTicketClass(ticket) }}"
                (click)="onSelectTicket(ticket)"
                *ngIf="ticket.id % 2 == 0"
                [disabled]="ticket.reserve"
              >
                <i class="fas fa-chair"></i></button
            ></span>
          </div>
          <div class="col-lg-6">
            <span *ngFor="let ticket of tickets"
              ><button
                class="{{ getTicketClass(ticket) }}"
                (click)="onSelectTicket(ticket)"
                *ngIf="ticket.id % 2 != 0"
                [disabled]="ticket.reserve"
              >
                <i class="fas fa-chair"></i></button
            ></span>
          </div>
        </div>
        <!-- Modal -->
        <div class="d-flex justify-content-center">
          <button
            class="btn btn-lg my-4 btnPaye"
            *ngIf="selectedTickets.length > 0 && this.loginService.isAuth()"
            (click)="open(content)"
          >
            Total : {{ totalPrice }}€ <i class="fas fa-money-bill-wave"></i>
          </button>
        </div>
        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
              Paye your tickets
            </h4>
            <button
              type="button"
              class="close"
              aria-label="Close"
              (click)="modal.dismiss('Cross click')"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="payeForm" (ngSubmit)="onPayTickets()">
              <div class="form-group">
                <label for="paymentCode:">Numéro de carte :</label>
                <input
                  type="text"
                  class="form-control"
                  id="paymentCode"
                  placeholder="Numéro de carte"
                  formControlName="paymentCode"
                />
              </div>
              <div class="form-group">
                <label for="paymentCode:">Code de sécurité</label>
                <input
                  type="text"
                  class="form-control"
                  id="cvv"
                />
              </div>
              <button
                routerLink=""
                type="submit"
                (click)="modal.close('Save click')"
                class="btn btn-primary"
              >
                Payer
              </button>
            </form>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
